<html>
<body>
  <h1>Gentle reminder for the task %task_name% !!</h1>
  <p>Greetings, <br> %task_name% is scheduled to be done by <b>%task_date%</b> by <b>%responsible_person%</b> </p>
</body>
</html>
